.show {
  display: flex !important; }

.delete-item-wrapper .fa {
  cursor: pointer; }

.table-row:hover, .table-row:focus, .table-row:active {
  background: #f9f9f9; }

.table-row * {
  text-align: center; }

.table-col {
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 2; }
  .table-col:hover, .table-col:focus, .table-col:active {
    background: #f9f9f9; }
  .table-col a {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .table-col .fa {
    margin-left: 5px; }

.modal {
  justify-content: center;
  align-items: center; }
  .modal .modal-dialog {
    max-width: 542px !important; }
  .modal img {
    width: 100%;
    height: 100%; }

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  body .wrapper {
    height: 100%; }
    body .wrapper .header {
      height: 56px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #1d1d1d;
      border-bottom: 1px solid #263340; }
      body .wrapper .header .header-logo {
        height: 100%;
        align-items: center;
        display: flex; }
        body .wrapper .header .header-logo h1 {
          margin: 0;
          font-size: 1.5rem;
          color: #fff; }
      body .wrapper .header .header-user-info {
        color: #fff;
        position: relative; }
        body .wrapper .header .header-user-info .user-name {
          font-size: 1.2rem;
          font-weight: 500; }
        body .wrapper .header .header-user-info .user-modal {
          display: none;
          position: absolute;
          background: #fff;
          color: #000;
          padding: 10px;
          border-radius: 6px;
          top: -8px;
          left: -80px;
          cursor: pointer; }
          body .wrapper .header .header-user-info .user-modal a {
            font-weight: 500;
            color: #4a4a4a;
            text-decoration: none; }
        body .wrapper .header .header-user-info .modal-open {
          display: block; }
    body .wrapper .main-wrapper {
      display: flex;
      flex-direction: row;
      height: 100%; }
      body .wrapper .main-wrapper .main-tabs {
        background-color: #1d1d1d;
        border-right: 1px solid #263340;
        min-width: 215px; }
        body .wrapper .main-wrapper .main-tabs .nav {
          flex-direction: column; }
          body .wrapper .main-wrapper .main-tabs .nav .nav-link {
            width: 100%;
            color: #292b2c;
            text-decoration: none;
            font-size: 1.1rem;
            color: #fff; }
      body .wrapper .main-wrapper .main-content {
        background: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        overflow: auto; }
        body .wrapper .main-wrapper .main-content .content-addimage {
          border: 1px solid #263340;
          padding: 10px 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          min-height: 60px;
          margin-bottom: 5px; }
          body .wrapper .main-wrapper .main-content .content-addimage .image-status {
            display: flex;
            font-size: 18px;
            font-weight: 500;
            justify-content: center;
            align-items: center; }
            body .wrapper .main-wrapper .main-content .content-addimage .image-status .fa {
              padding-right: 5px; }
          body .wrapper .main-wrapper .main-content .content-addimage form {
            width: auto;
            height: 100%; }
            body .wrapper .main-wrapper .main-content .content-addimage form .form-group {
              margin: 0;
              display: flex;
              flex-direction: row-reverse;
              height: 100%;
              align-items: center; }
              body .wrapper .main-wrapper .main-content .content-addimage form .form-group label {
                margin: 0;
                color: #343a40;
                background-color: transparent;
                background-image: none;
                border-color: #343a40; }
                body .wrapper .main-wrapper .main-content .content-addimage form .form-group label:hover {
                  color: #fff;
                  background-color: #343a40;
                  border-color: #343a40; }
                body .wrapper .main-wrapper .main-content .content-addimage form .form-group label:active {
                  color: #fff;
                  background-color: #343a40;
                  border-color: #343a40; }
                body .wrapper .main-wrapper .main-content .content-addimage form .form-group label:focus {
                  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }
              body .wrapper .main-wrapper .main-content .content-addimage form .form-group input[type="file"] {
                display: none; }
        body .wrapper .main-wrapper .main-content .content-imagedata .table img {
          cursor: pointer;
          width: 256px;
          height: 256px; }
